* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body, .container {
	height: 100%;
}

.page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.page-content {
	flex: 1;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.center {
	text-align: center;
}

main {
	padding: 10%;
}

article {
	margin: 3%;
}

section {
	margin: 1%;
}

section p {
	padding: 1%;
}

.er {
	width: 100%;
	height: auto;
	padding: 4%;
	background-color: #2C2F33;
	color: #ffffff;
}

.top {
	align-self: flex-start;
}

.bottom {
	align-self: flex-end;
}