*{
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      html, body{
        height: 100%;
        margin: 0;
        padding: 0;

        overflow: hidden;
      }
      canvas{
        background-color: #0ecc0e;
      }
.home_button{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #333;
        display: block;
        width: 130px;
        height: 75px;
}
.home_button a{
        text-decoration: none;
        color: #f2f2f2;
        font-size: 25px;
}
.home_button a:hover{
        text-deoration: underline;
}
