:root {
  --primary-color: #121212;
  --secondary-color: #0be369;
  --bg-color: #FFFFFF;
}
[data-theme="dark"] {
  --primary-color: #FFFFFF;
  --secondary-color: #74499c;
  --bg-color: #121212;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
}
canvas {
	display: block;
}
#particlesJS {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #eb4d4b;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
#wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 30px;
	z-index: 2;
	background: var(--bg-colour);
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	transition: 0.3s;
	text-align: center;
	border-radius: 4px;
}
h1 {
	color: var(--primary-colour);
	margin: 0;
	font-size: 2em;
}
.avatar {
	border-radius: 50%;
	height: 12vh;
	margin: 10px 0 15px 0;
}
.icon {
	height: 3vh;
}
.icon.black {
	filter: invert(1)
}
p {
	font-size: 1em;
	padding: .1em;
	margin: 5px 0;
	color: var(--primary-colour);
	width: 150px;
}
#scripts {
	display: none;
}
.row {
	display: flex;
}
.col {
	flex: 33.33%;
	padding: 5px;
}
.high {
	opacity: 87%;
}
.med {
	opacity: 60%;
}
.dis {
	opacity: 38%;
}
.secret-text {
	color: var(--primary-colour);
	z-index: 3;
	opacity: 0%;
	transition: opacity 3s;
}
.secret-text:hover {
	opacity: 87%;
	transition: opacity 3s;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover, a:focus {
  color: var(--secondary-color);
  text-decoration: underline;
}
/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
