* {
  margin: 0;
  padding: 0;
  border: 0;
}
html, body {
  height: 100%;
}
body {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.col {
  flex: 1;
  text-align: center;
}
@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
h1 {
  font-size: 30vh;
}
@-webkit-keyframes rainbow {
    0%{background-position:0% 100%}
    50%{background-position:100% 0%}
    100%{background-position:0% 100%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 100%}
    50%{background-position:100% 0%}
    100%{background-position:0% 100%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 100%}
    50%{background-position:100% 0%}
    100%{background-position:0% 100%}
}
@keyframes rainbow { 
    0%{background-position:0% 100%}
    50%{background-position:100% 0%}
    100%{background-position:0% 100%}
}
