:root {
  --text-color: #304455;
  --background-color: #ffffff;
  --secondary-background-color: #fffeed;
  --highlight-color: #00fff3;
  --normal-text-size: 3vw;
  --big-text-size: 5vw;
}
#scripts {
  display: none;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--normal-text-size);
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
.full-height {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: var(--big-text-size);
  font-weight: bold;
  width: 100%;
  text-align: center;
}

main {
  width: 100%;
  height: 100%;
  padding: 5%;
  text-align: center;
}

#notes-input {
  width: 100%;
  height: 100%;
  border: 3px solid var(--text-color);
  border-radius: 4px;
  padding: 2vw;
  color: var(--text-color);
  background-color: var(--secondary-background-color);
  font-size: var(--normal-text-size);
  resize: none;
}
#todos {
  display: none;
}
