noscript {
	font-size: 250%;
	color: #ffffff;
	background-color: #000000;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	color: #ffffff;
	opacity: 1;
}

html, body {
	height: 100%;
	width: 100%;
	/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
	font-size: 2vw;
}

#page {
	height: auto;
}

#scripts {
	display: none;
}

#header {
	height: 100vh;
	background-color: #23272A;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*font-size: 5vh;*/
}
h1 {
	/*font-size: 10vh;*/
}

#arrow {
	fill: #ffffff;
	height: 5%;
	width: 5%;
	justify-self: flex-end;
	padding: 5%;
	margin-top: auto;
}

#content {
	height: 100%;
	background-color: #2C2F33;
	padding: 10%;
}

.hide {
	opacity: 0;
	/*visibility: hidden;*/
}

.fade {
	transition: opacity 1s; 
}

#profile {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.top {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.avatar {
	width: 30vh;
	height: 30vh;
	border-radius: 1000px;
}

.bio {
	color: #ffffff;
}

/* buttons */
.button {
	border-radius: 5px;
}
.red {
	background-color: hsla(1, 67%, 35%, 1);
	box-shadow: 10px 9px 0px 4px #951f1d;
}
.orange {
	background-color: hsla(34, 100%, 47%, 1);
	box-shadow: 10px 9px 0px 4px #f08800;
	
}
.yellow {
	background-color: hsla(61, 100%, 50%, 1);
	box-shadow: 10px 9px 0px 4px #fbff00;
}
.green {
	background-color: hsla(149, 89%, 43%, 1);
	box-shadow: 10px 9px 0px 4px #0ccf6a;
}
.blue {
	background-color: hsla(197, 98%, 46%, 1);
	box-shadow: 10px 9px 0px 4px #02a7e8;
}
