* {
	margin: 0;
	padding: 0;
	border: 0;
	color: #ffffff;
}

html, body {
	height: 100%;
	width: 100%;
}

#page {
	height: auto;
}

#scripts {
	display: none;
}

#header {
	height: 100%;
	background-color: #23272A;
}

#arrow {
	fill: #ffffff;
	height: 5%;
	width: 5%;
}

#content {
	height: 100%;
	background-color: #2C2F33;
	padding: 10%;
}

.bounce-arrow {
	animation: bounce 2s linier infinite;
}

@keyframes bounce {
	
}
