noscript {
	font-size: 250%;
	color: #ffffff;
	background-color: #000000;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	color: #ffffff;
	opacity: 1;
	transition-duration: 100ms;
}

html, body {
	height: 100%;
	width: 100%;
	/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
	font-size: 2vw;
}

#page {
	height: auto;
}

#scripts {
	display: none;
}

#header {
	height: 100vh;
	background-color: #23272A;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*font-size: 5vh;*/
}
h1 {
	/*font-size: 10vh;*/
}

#arrow {
	fill: #ffffff;
	height: 5%;
	width: 5%;
	justify-self: flex-end;
	padding: 5%;
	margin-top: auto;
}

#content {
	height: 100%;
	background-color: #2C2F33;
	padding: 10%;
}

.hide {
	opacity: 0;
	/*visibility: hidden;*/
}

.fade {
	transition: opacity 1s; 
}

#profile {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}

.avatar {
	width: 18vw;
	height: 18vw;
	border-radius: 1000px;
}

.bio {
	color: #ffffff;
}

.links {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

/* buttons */
.button {
	border-radius: 5px;
	padding: 5px;
}
.red {
	background-color: #951f1d;
	box-shadow: 5px 5px 0px 2px #6c1615;
}
.orange {
	background-color: #f08800;
	box-shadow: 5px 5px 0px 2px #ae6200;
	
}
.yellow {
	background-color: #fbff00;
	box-shadow: 5px 5px 0px 2px #b6b900;
}
.green {
	background-color: #0ccf6a;
	box-shadow: 5px 5px 0px 2px #08964d;
}
.blue {
	background-color: #02a7e8;
	box-shadow: 5px 5px 0px 2px #0179a8;
}
