/* Basic grid library by EdazPotato */
/* Feel free to use it, but make sure to credit me! */
/* MIT licence applies */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.col {
  flex: 1;
  text-align: center;
}
.vert {
  flex-direction: column;
}
.bottom {
  justify-self: flex-end;
}
.spaced {
  justify-content: space-around;
}
@media (max-width: 400px) {
  .row {
    display: block;
  }
}
