#button {
    width: 30%;
    height: 30%;
    border-radius: 30px;
    border: 3px solid darkslategrey;
    color: whitesmoke;
    background-color: lightslategrey;
    box-shadow: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
#button:hover {
    border: 3px solid lightslategrey;
    background-color: darkslategrey;
}
#button:active {
    width: 30.4%;
    height: 30.4%;
}


#clicks{
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28vw;
    padding: 10px;
    margin: 10px;
}