:root[darkness-mode="dark"] {
  --bg-color: #2C2F33;
  --title-text-color: #ffffff;
  --text-color: #ededed;
}
:root[darkness-mode="light"] {
  --bg-color: #ffffff;
  --title-text-color: #23272A;
  --text-color: #2C2F33;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition-duration: 1s;
  font-family: arial;
}
html, body, .container {
  height: 100%;
}
#scripts {
  display: none
}
.hide {
  display: none;
}
.cent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alncent {
  text-align: center;
}
.title {
  color: var(--title-text-color);
  font-size: 10vh;
}
