* {
  margin: 0;
  padding: 0;
  border: 0;
}
html, body {
  height: 100%;
  width: 100%;
}
#wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#header {
  height: 20vh;
  width: 100vw;
  padding-top: 10vw;
  padding-bottom: 10vw;
  text-align: center;
  font-weight: bold;
  font-size: 4vw;
}
#content {
  height: 80vh;
  width: 100vw;
}
