#dailyImg {
	width: 50%;
	float: left;
}
#desc {
	width: 30%;
	float: left;
	padding: 30px;
	font-size: 25px;
}
#titleSpace {
	text-decoration: underline;
	text-align: center;
	font-size: 40px;
}
a {
    font-family: "Lucida Console", Arial, Sans-serif;
    font-size: 2.45em;
    margin: 0.2em;
    color: #3498db;
    cursor: grab;
    font-weight: bold;
}
a:hover {
    color: #2980b9;
    cursor: grabbing;
} 
