/* arimo-regular - latin */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/arimo-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Arimo Regular'), local('Arimo-Regular'),
       url('../assets/fonts/arimo-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/arimo-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/arimo-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/arimo-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/arimo-v15-latin-regular.svg#Arimo') format('svg'); /* Legacy iOS */
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arimo, sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
}
h1 {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
}
span {
  font-weight: bolder;
}
sup {
  font-weight: lighter;
  font-style: italic;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
@media (min-width: 1000px) {
  * {
    font-size: 170%;
  }
}
