/* setup */
:root {
	--eerie-black: #1E1C1E;
	--dim-gray: #6D6061;
	--blue-green: #3095BE;
	--cinereous: #A18D8D;
	--red-pigment: #EC1516;
	--text: #FFFFFF;
	--bg: #000000;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html, body, #treeleg {
  height: 100%;
  width: 100%;
  background-color: var(--bg);
  color: var(--text);
}

/* main styles */

.wrapper {
	height: 100%;
	width: 100%;
}

.avatars {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
}
.avatar--container {
	padding: 10px;
}
.avatar {
	height: 200px;
	width: 200px;
}
.dl-link-container {
	text-decoration: underline;
	text-decoration-style: dotted;
}
.colors {
	height: 50%;
}

.ava-1 {
  background-color: var(--eerie-black);
  color: var(--text);
  content: "Eerie black";
}
.ava-2 {
  background-color: var(--dim-gray);
  color: var(--text);
  content: "Dim grey";
}
.ava-3 {
  background-color: var(--blue-green);
  color: var(--text);
  content: "Blue-green";
}
.ava-4 {
  background-color: var(--cinereous);
  color: var(--text);
  content: "Cinereous";
}
.ava-5 {
  background-color: var(--red-pigment);
  color: var(--text);
  content: "Red pigment";
}
.icon-1 {
  background-color: var(--eerie-black);
  color: var(--text);
  content: "Eerie black";
}
.icon-2 {
  background-color: var(--red-pigment);
  color: var(--text);
  content: "Red pigment";
}

