html, body {
  height: 100%;
}
img {
  width: 80%;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.col {
  flex: 1;
}
.vert {
  flex-direction: column;
}
.bottom {
  justify-self: flex-end;
}
.spaced {
  justify-content: space-around;
}
.spaced2 {
  justify-content: space-between;
}
@media (max-width: 400px) {
  .row {
    display: block;
  }
}
.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
.hidden {
  display: none;
}
